@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');


:root {

    --primary-color: #2c74b4;
    --secondary-color: #e0524e;
    --dark: #000;
    --white: #fff;

    --primary-font: 'Kanit', sans-serif;
    --secondary-font: 'Dancing Script', cursive;

}

body {
    font-family: var(--primary-font);
}

mark {
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 5px;
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

.sub-heading {
    background-color: var(--primary-color);
    color: var(--white);
    border: 1px solid var(--dark);
}

.first-section {
    background-color: var(--secondary-color);
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid var(--primary-color);
    border-top: 0px;
    padding-top: 10px;
}

.first-section__main-text__heading {
    font-family: var(--secondary-font);
}

.second-section {
  margin-top: 40px;
  padding: 10px;
}

@media screen and (max-width: 480px) {
    .second-section__secondary-text {
        display: none;
    }
}

@media screen and (max-width: 992px) and (min-width: 768px){
    .second-section__secondary-text {
        display: none;
    }
}

.third-section {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 20px 0px;
    margin: 20px 0px;
}

@media screen and (max-width: 767px) {
    .third-section__heading {
        width: 50%;
        margin: 0 auto;
        color: var(--white);
        background-color: var(--dark);
        border-radius: 5px;
        border-top: 5px solid var(--secondary-color);
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 768px) {
    .third-section__heading {
        background-color: var(--dark);
        transform: rotate(-20deg);
        border-radius: 5px;
        border-top: 5px solid var(--secondary-color);
    }
}

.fourth-section {
    margin: 50px 0px;
}

.fourth-section ul {
    list-style-type: '➡️';
}

.fourth-section li {
    color: var(--primary-color)
}

@media screen and (min-width: 768px) {
    .fourth-section__heading {
        width: 350px;
        margin: 0 auto;
        color: var(--white);
        background-color: var(--dark);
        border-radius: 5px;
        border-top: 5px solid var(--secondary-color);
    }
}

@media screen and (max-width: 767px) {
    .fourth-section__heading {
        width: 350px;
        margin: 0 auto;
        color: var(--white);
        background-color: var(--dark);
        border-radius: 5px;
        border-top: 5px solid var(--secondary-color);
        margin-bottom: 10px;
    }
}


@media screen and (max-width: 480px) {
    .fourth-section--hide-on-small-device {
        display: none;
    }
}

.fifth-section {
    background-color: var(--primary-color);
    margin: 50px 0px;
    padding: 30px 0px;
    color: var(--white);
}

@media screen and (max-width: 767px) {
    .fifth-section--hide-on-small-devices {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .fifth-section--show-only-on-small-devices {
        display: none;
    }
}

.fifth-section__sub-heading {
    color: var(--dark);
}

.six-section {
    margin: 50px 0px;
}

.six-section--light-blue-color {
    color: var(--primary-color);
}

.six-section--hover-add-border-effect {
    transition: all 1s ease-in-out;
    margin: 10px 0px;
    padding: 10px 5px;
}

.six-section--hover-add-border-effect:hover {
    background: var(--primary-color);
    border-radius: 50px;
    color: var(--white) !important;
}


.seventh-section {
    background-color: var(--primary-color);
    margin: 20px 0px;
    padding: 30px 0px;
    color: var(--white);
}

.eight-section {
    text-align: center;
    margin: 50px 0px;
} 

.eight-section span {
    color: var(--secondary-color);
}

.eleventh-section {
    background-color: var(--primary-color);
    margin-top: 50px;
    padding: 30px 0px;
    color: var(--white);

}

footer {
    text-align: center;
    background-color: var(--secondary-color);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 25px;
}

.reduce-img {
    width: 150px;
}

.ninth-section {
    background-color: var(--primary-color);
    color: var(--white);
}

.ninth-section a {
    color: var(--dark);
}

.ninth-section h5 {
    color: var(--dark);
}

.tenth-section h5 {
    color: var(--secondary-color);
}

/*  Float Panel CSS  */
.slideanim {
    visibility:hidden;
    visibility:visible\9;/*For old IE browsers IE6-8 */
}
.slideanim.slide {visibility: visible; animation:slide 1s;}
.slideanim::after {
    /* useful when its child elements are float:left; */
    content: "";
    display: table;
    clear: both;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(50%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0);
    } 
}

.img-grow:hover {
    width: 110% !important;
}