@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');


:root {

    --primary-color: #2c74b4;
    --secondary-color: #e0524e;
    --dark: #000;
    --white: #fff;

    --primary-font: 'Kanit', sans-serif;
    --secondary-font: 'Dancing Script', cursive;

}

body {
    font-family: var(--primary-font);
}

mark {
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 5px;
}

.sub-heading {
    background-color: var(--primary-color);
    color: var(--white);
    border: 1px solid var(--dark);
}

.first-section {
    background-color: var(--secondary-color);
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid var(--primary-color);
    border-top: 0px;
    padding-top: 10px;
}

.first-section__main-text__heading {
    font-family: var(--secondary-font);
}

.second-section {
  margin-top: 40px;
  padding: 10px;
}

@media screen and (max-width: 480px) {
    .second-section__secondary-text {
        display: none;
    }
}

@media screen and (max-width: 992px) and (min-width: 768px){
    .second-section__secondary-text {
        display: none;
    }
}

.third-section {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 50px 0px;
}

@media screen and (min-width: 768px) {
    .third-section__heading {
        background-color: var(--dark);
        transform: rotate(-20deg);
        border-radius: 5px;
        border: 2px solid var(--secondary-color);
    }
}







